* {
    margin: 0px;
    padding: 0px;
    /* background-color: rgb(162, 162, 232); */
}

:root {
    /* font-size: 100px; */
}

.container {
    background-color: #e5e5fd;
    border: 10px solid #1d1e4c;
    min-height: 100vh;
    max-width: 1000px;
    margin: auto;
}
.outside-content{
    width: 849px;
    margin: auto;

}

.content {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    /* align-items: flex-end; */
   

}

.content h1 {
    font-size: 51px;
    margin-top: 141px;
    margin-left: 10px;

}

.content h4 {
    /* float: right; */
    text-align: end;
    /* justify-content: center; */
    /* -ms-flex-item-align: end; */
    
}

.content img {
    width: 350px;
    height: 390px;
    border-radius: 150px;

}

/* content-box ___1 */

.about_top{
    margin-top: 50px;
    /* padding: 20px; */
}
.about_top h1{
    font-size: 51px;
    font-weight: bolder;
}
.about_top p{
    line-height: 25px;
    letter-spacing: 0.11px;
}

/*  Another Box ___2_biography_section  */

.bottom-text h1{
    font-size: 31px;
}
.bottom-text li{
    line-height: 30px;
    letter-spacing: 0.11px;
    margin-left: 40px;
}
/*  End of section */

footer{
    margin-top: 25px;
}
footer p{
    text-align: end;
}



